---
import '../styles/style.css';
import LogoFavicon from "../images/logo_favicon.svg";
import Logo from "../images/logo_horizontal.svg";
import Nav from "../components/nav.astro";
const {pageTitle} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={LogoFavicon} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Misfit Coding</title>
	</head>
	<body>
		<img class="banner" src={Logo}>
        <Nav pageTitle={pageTitle}/>
		<div class="content">
			<div>
				<h1>{pageTitle}</h1>
				<slot/>
			</div>
		</div>
	</body>
</html>
